.preview {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5vmin;
  color:dodgerblue;
}
.left {
  order: 1;
}
.right {
  order: 2;
}

.category {
  text-transform: uppercase;
}

.previewTitle {
  font-size: 1.5em;
  font-weight: 700;
}
.previewTitle > a {
  text-decoration: none;
}

.tag {
  text-transform: uppercase;
  /* color: deepskyblue; */
  font-size: 0.9em;
  text-decoration: none;
  display: inline-block;
  /* padding: .33333rem .5rem; */
  line-height: 1;
  /* border-radius: 2px; */
  /* border: 1px solid #A0A0A0; */
  margin-right: .5em;
}

.author {
  font-weight: 700;
}